---
import { Image } from "astro:assets";
import torusIcon from "@/assets/Torus-Knot.svg";
---

<div
  class="container mx-auto px-4 py-16 md:py-24 flex flex-col md:flex-row items-start gap-8 relative"
  style="background: linear-gradient(to right, rgba(255,255,255,0.02) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(255,255,255,0.02) 1px, transparent 1px);
    background-size: 20px 20px"
>
  <div class="md:w-1/2 space-y-6">
    <h1
      class="text-4xl md:text-5xl/relaxed font-bold text-yellow-vibe font-boldonse"
    >
      The most comprehensive guide to software development patterns and
      principles.
    </h1>

    {
      /*
    <div class="flex gap-4 pt-4">
      <a
        href="/get-started"
        class="bg-white text-black px-6 py-3 rounded-md font-medium hover:bg-gray-200 transition"
        >GET STARTED
      </a>
      <a
        href="/examples"
        class="border border-gray-700 px-6 py-3 rounded-md font-medium hover:bg-gray-900 transition flex items-center gap-2"
      >
        <span>+</span>
        <span>Browse Examples</span>
      </a>
    </div>   
       */
    }
  </div>

  <div class="md:w-1/2 flex justify-center items-center">
    <Image
      src={torusIcon}
      alt="Hero Image"
      class="md:size-80 size-52 spin select-none"
    />
  </div>
</div>

<style scoped>
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .spin {
    animation: spin 50s linear infinite;
  }
</style>
