---
import Logo from "@/components/shared/logo.astro";
import { navData } from "@/data";
import { cn } from "@/utils";
import { Github } from "@/components/icons";

interface Props {
  class: string;
}
const props: Props = Astro.props;
---

<nav
  class={cn(
    "flex justify-between items-center border-b border-gray-800",
    props.class
  )}
>
  <div class="px-4 py-4">
    <a href="/" class="flex items-center gap-2">
      <Logo />
      <span class="font-bold">DEV-PATTERNS</span>
    </a>
  </div>
  <div class="flex">
    {
      navData.map((item) => {
        return (
          <a
            href={item.href}
            class="px-6 py-5 hover:bg-gray-900 border-b-2 border-transparent hover:border-white capitalize font-boldonse text-xs text-yellow-vibe"
          >
            {item.name}
          </a>
        );
      })
    }

    <a
      href="https://github.com/yeasin2002/Dev-Patterns"
      class="px-6 py-5 hover:bg-gray-900"
      target="_blank"
      aria-label="GitHub"
    >
      <Github />
    </a>
  </div>
</nav>
