---
import Logo from "@/components/shared/logo.astro";
import { collectionNames } from "@/utils";
import { cn } from "@/utils/cn";
import { Github } from "@/components/icons";

interface Props {
  class: string;
}
const props: Props = Astro.props;
---

<nav
  class={cn(
    "flex justify-between items-center border-b border-gray-800",
    props.class
  )}
>
  <div class="px-4 py-4">
    <a href="/" class="flex items-center gap-2">
      <Logo />
      <span class="font-bold">DEV-PATTERNS</span>
    </a>
  </div>
  <div class="flex">
    {
      collectionNames.map((item) => {
        return (
          <a
            href={`/${item}`}
            class="px-6 py-5 hover:bg-gray-900 border-b-2 border-transparent hover:border-white capitalize"
          >
            {item}
          </a>
        );
      })
    }

    <a href="https://github.com" class="px-6 py-5 hover:bg-gray-900">
      <Github />
    </a>
    <button class="px-6 py-5 hover:bg-gray-900">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="text-white"
        ><circle cx="12" cy="12" r="4"></circle><path d="M12 2v2"></path><path
          d="M12 20v2"></path><path d="m4.93 4.93 1.41 1.41"></path><path
          d="m17.66 17.66 1.41 1.41"></path><path d="M2 12h2"></path><path
          d="M20 12h2"></path><path d="m6.34 17.66-1.41 1.41"></path><path
          d="m19.07 4.93-1.41 1.41"></path></svg
      >
    </button>
  </div>
</nav>
