---
import Homepage from "../components/homepage/hompage.astro";
import FeatureGrid from "../components/homepage/FeatureGrid.astro";
import TestimonialGrid from "../components/homepage/TestimonialGrid.astro";
---

<div>
  <Homepage />
  <FeatureGrid />
  <TestimonialGrid />
</div>
