---
import Hero from "@/components/homepage/hero.astro";
import ContentList from "@/components/shared/content-list.astro";
import TestimonialGrid from "@/components/homepage/TestimonialGrid.astro";
import Feature from "@/components/homepage/features-card.astro";
import Codeblocks from "@/components/homepage/codeblocks.astro";

import Layout from "@/layouts/Layout.astro";
---

<Layout title="Dev-Patterns | Software Development Patterns and Principles">
  <Hero />
  <ContentList
    heading="Design Patterns"
    desc="A collection of design patterns for software development"
  />
  <TestimonialGrid />
  <div class="container mx-auto">
    <Codeblocks />
  </div>
</Layout>
