---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";

import Hero from "@/components/homepage/hero.astro";
import ContentList from "@/components/homepage/content-wrapper.astro";

// contents
const patters = await getCollection("patterns");
const principles = await getCollection("principles");
const reactPatterns = await getCollection("react-patterns");
---

<Layout title="Dev-Patterns | Software Development Patterns and Principles">
  <Hero />

  <div class="space-y-14 mb-10">
    <ContentList
      heading="সফ্টওয়্যার ডিজাইন প্যাটার্ন"
      desc="সফটওয়্যার ডিজাইনের জন্য কিছু প্রমাণিত সমাধান যা সাধারণ সমস্যাগুলোর জন্য ব্যবহার করা হয়। এগুলো হলো রি-ইউজেবল, ফ্লেক্সিবল, এবং ভালোভাবে ডকুমেন্টেড কোড লেখার কৌশল।"
      features={patters.slice(0, 6)}
    />

    <ContentList
      heading="রিয়েক্ট  ডিজাইন প্যাটার্ন"
      desc="React-এ Design Patterns মানে হচ্ছে এমন কিছু নির্ভরযোগ্য কোড স্ট্রাকচার বা ধরন, যেগুলো React অ্যাপ ডেভেলপমেন্টে ভালো পারফরম্যান্স, রিইউজেবিলিটি, ও মেইনটেইনেবিলিটি নিশ্চিত করে।"
      features={reactPatterns.slice(0, 6)}
    />

    <ContentList
      heading="সফ্টওয়্যার  ডিজাইন প্রিন্সিপালস"
      desc="Design Principles হলো সফটওয়্যার ডিজাইনের জন্য কিছু গাইডলাইন বা নিয়ম, যেগুলো মেনে চললে কোড বেশি মডুলার, ফ্লেক্সিবল, এবং মেইনটেইনেবল হয়।"
      features={principles.slice(0, 6)}
    />
  </div>
</Layout>
