---
interface Props {
  title?: string;
}
import { ClientRouter } from "astro:transitions";
import Nav from "../components/shared/nav/nav.astro";
import "../styles/starwind.css";

const { title = "Blog" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <ClientRouter />
    <title>{title}</title>
  </head>
  <body>
    <Nav />
    <slot />
  </body>
</html>
