---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import { collectionNames } from "@/utils";
import { Calender, User } from "@/components/icons";

export async function getStaticPaths() {
  const patterns = await getCollection("patterns");
  const principles = await getCollection("principles");

  const allPaths = collectionNames.flatMap((collection) => {
    return [...patterns, ...principles].map((entry) => ({
      params: { collection, slug: entry.slug },
      props: { entry },
    }));
  });

  return allPaths;
}

const { entry } = Astro.props;
const { Content } = await entry.render();
const { collection } = Astro.params;

const displayType =
  entry.collection.charAt(0).toUpperCase() + entry.collection.slice(1);
---

<Layout title={entry.data.title}>
  <article class="max-w-6xl mx-auto px-4 py-8">
    <div class="mb-8">
      <a href="/" class="text-blue-600 hover:text-blue-800 inline-block"
        >← Back to Home</a
      >
      <div class="text-sm text-gray-500 mt-2">
        {collection.charAt(0).toUpperCase() + collection.slice(1)} / {
          entry.data.title
        }
      </div>
    </div>

    <header class="mb-8">
      <h1 class="text-4xl font-bold mb-4">{entry.data.title}</h1>
    </header>

    <div class="prose prose-lg font-noto-serif font-anekBangla">
      <Content />
    </div>
  </article>
</Layout>
